.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form__input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

.login-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form__input:focus {
  border-color: var(--yellow);
}

.login-form__btn {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin-bottom: 25px;
  text-align: center;
}
.login-form__a {
  text-align: center;
  font-size: 13px;
}
